In [1]:
import pandas as pd
from sklearn.cluster import SpectralClustering
import numpy as np
import os
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
from sklearn.datasets import make_circles
from sklearn.cluster import DBSCAN
from sklearn.cluster import SpectralClustering, KMeans

In [2]:
GloVe_df = pd.read_csv("GloVe.csv")
Comm_df = pd.read_csv("HN_community - Copy.csv")
GloVe_df = GloVe_df.query("hate != 'other'")
Users_df = pd.merge(GloVe_df, Comm_df, on = "user_id", how = "inner")

In [3]:
community = [1227,775,1340,188,1351,613,1739,1459,1242,1709]
Users_df['Community Labels'] = Users_df['modularity_class'].apply(lambda x: 0 if x not in community else x)

In [4]:
GloVe = Users_df[Users_df.columns[2:-2]].to_numpy()
GloVe.shape

(4756, 300)

In [32]:
%%time
clustering = SpectralClustering(n_clusters=11,
        assign_labels="discretize",
        random_state=0).fit(GloVe)
Users_df['spectral'] = clustering.labels_
Users_df['spectral'].value_counts(sort=True)

Wall time: 12.7 s

1    4655
6      66
8       7
0       6
5       6
7       5
3       4
4       3
2       3
9       1
Name: spectral, dtype: int64

In [6]:
%%time
clustering = SpectralClustering(n_clusters=11,
        assign_labels="discretize",
        random_state=0).fit(GloVe)
Users_df['spectral'] = clustering.labels_
Users_df['spectral'].value_counts(sort=True)

Wall time: 13.1 s

1    4655
6      66
8       7
0       6
5       6
7       5
3       4
4       3
2       3
9       1
Name: spectral, dtype: int64

In [7]:
%%time
normalizeGloVe = GloVe / np.linalg.norm(GloVe)
clustering = SpectralClustering(n_clusters=11,
        assign_labels="discretize",
        random_state=0).fit(normalizeGloVe)
Users_df['normal_spectral'] = clustering.labels_
Users_df['normal_spectral'].value_counts(sort=True)

Wall time: 12.9 s

2     985
4     771
1     616
7     461
8     407
6     392
9     339
5     325
0     216
3     190
10     54
Name: normal_spectral, dtype: int64

In [8]:
%%time
normalizeGloVe = GloVe / np.linalg.norm(GloVe)
clustering = SpectralClustering(n_clusters=11,
        assign_labels="discretize",
        random_state=0).fit(normalizeGloVe)
Users_df['normal_spectral'] = clustering.labels_
Users_df['normal_spectral'].value_counts(sort=True)

Wall time: 12.9 s

2     985
4     771
1     616
7     461
8     407
6     392
9     339
5     325
0     216
3     190
10     54
Name: normal_spectral, dtype: int64

In [9]:
%%time
epsilon = 0.0025
minimumSamples = 300
db = DBSCAN(eps=epsilon, min_samples=minimumSamples, algorithm='ball_tree').fit(normalizeGloVe)
labels = db.labels_
print(set(labels))
Users_df['DBSCAN']=labels
Users_df['DBSCAN'].value_counts(sort=True)

{0, -1}
Wall time: 7.77 s

 0    4178
-1     578
Name: DBSCAN, dtype: int64

In [10]:
%%time
epsilon = 0.0025
minimumSamples = 300
db = DBSCAN(eps=epsilon, min_samples=minimumSamples, algorithm='ball_tree').fit(normalizeGloVe)
labels = db.labels_
print(set(labels))
Users_df['DBSCAN']=labels
Users_df['DBSCAN'].value_counts(sort=True)

{0, -1}
Wall time: 7.73 s

 0    4178
-1     578
Name: DBSCAN, dtype: int64

In [14]:
km = KMeans(init='k-means++', n_clusters=11)
km_clustering = km.fit(normalizeGloVe)
labels = km_clustering.labels_
Users_df['km1_groups']=labels
Users_df['km1_groups'].value_counts()

7     928
3     901
1     793
8     534
9     465
0     413
4     377
6     200
2      98
10     32
5      15
Name: km1_groups, dtype: int64

In [15]:
km = KMeans(init='k-means++', n_clusters=11)
km_clustering = km.fit(normalizeGloVe)
labels = km_clustering.labels_
Users_df['km2_groups']=labels
Users_df['km2_groups'].value_counts()

2     920
3     874
7     779
8     539
1     474
10    426
9     390
5     199
0     105
4      31
6      19
Name: km2_groups, dtype: int64

In [16]:
km = KMeans(init='k-means++', n_clusters=11)
km_clustering = km.fit(normalizeGloVe)
labels = km_clustering.labels_
Users_df['km3_groups']=labels
Users_df['km3_groups'].value_counts()

4     916
3     879
0     787
8     534
7     467
10    427
2     397
6     194
9     105
1      31
5      19
Name: km3_groups, dtype: int64

In [19]:
from scipy.stats import chi2_contingency
import seaborn as sns
orange = sns.light_palette("orange", as_cmap=True)

In [33]:
sp = pd.crosstab(Users_df['Community Labels'],Users_df['spectral'])
print(chi2_contingency(sp)[0:3])

sp.style.background_gradient(cmap=orange).to_excel("sp_c.xlsx")

sp.style.background_gradient(cmap=orange)

(142.15699051422874, 0.00038036770686136377, 90)

In [25]:
nsp = pd.crosstab(Users_df['Community Labels'],Users_df['normal_spectral'])
print(chi2_contingency(nsp)[0:3])

nsp.style.background_gradient(cmap=orange).to_excel("nsp_c.xlsx")

nsp.style.background_gradient(cmap=orange)

(4751.389114980437, 0.0, 100)

In [26]:
km = pd.crosstab(Users_df['Community Labels'],Users_df['km1_groups'])
print(chi2_contingency(km)[0:3])

km.style.background_gradient(cmap=orange).to_excel("km_c.xlsx")

km.style.background_gradient(cmap=orange)

(3350.705820136367, 0.0, 100)

In [29]:
kmsp = pd.crosstab(Users_df['km1_groups'],Users_df['normal_spectral'])
print(chi2_contingency(kmsp)[0:3])

kmsp.style.background_gradient(cmap=orange).to_excel("km_sp.xlsx")

kmsp.style.background_gradient(cmap=orange)

(13289.807934505385, 0.0, 100)

In [30]:
spdb = pd.crosstab(Users_df['spectral'],Users_df['DBSCAN'])
print(chi2_contingency(spdb)[0:3])

spdb.style.background_gradient(cmap=orange).to_excel("km_sp.xlsx")

spdb.style.background_gradient(cmap=orange)

(745.9060533191605, 9.285120993300721e-155, 9)